*.a
*.control
*.DS_Store
*.o
*.so
*.gcda
*.gcno
test/JDBC/Info/
test/JDBC/output/*
test/JDBC/target/classes/*
test/JDBC/target/maven-archiver/*
test/JDBC/target/maven-status/*
test/JDBC/target/surefire-reports/*
test/JDBC/target/test-classes/*

contrib/babelfishpg_common/sql/babelfishpg_common--[0-9].[0-9].[0-9]--[0-9].[0-9].[0-9].sql
contrib/babelfishpg_common/sql/babelfishpg_common--[0-9].[0-9].[0-9].sql
contrib/babelfishpg_money/babelfishpg_money--[0-9].[0-9].[0-9].sql
contrib/babelfishpg_tsql/antlr/CMakeCache.txt
contrib/babelfishpg_tsql/antlr/CMakeFiles/
contrib/babelfishpg_tsql/antlr/Makefile
contrib/babelfishpg_tsql/antlr/antlr4cpp_generated_src/
contrib/babelfishpg_tsql/antlr/cmake_install.cmake
contrib/babelfishpg_tsql/pl_reserved_kwlist_d.h
contrib/babelfishpg_tsql/pl_unreserved_kwlist_d.h
contrib/babelfishpg_tsql/sql/babelfishpg_tsql--[0-9].[0-9].[0-9]--[0-9].[0-9].[0-9].sql
contrib/babelfishpg_tsql/sql/babelfishpg_tsql--[0-9].[0-9].[0-9].sql
contrib/babelfishpg_tsql/src/backend_parser/gram-backend.c
contrib/babelfishpg_tsql/src/backend_parser/gram-backend.h
contrib/babelfishpg_tsql/src/backend_parser/gram-backend.output
contrib/babelfishpg_tsql/src/backend_parser/gram-backend.y
contrib/babelfishpg_tsql/src/backend_parser/kwlist_d.h
contrib/babelfishpg_tsql/src/backend_parser/scan-backend.c
contrib/babelfishpg_tsql/src/backend_parser/scan-backend.l
contrib/babelfishpg_tsql/src/pl_gram.c
contrib/babelfishpg_tsql/src/pl_gram.h
contrib/babelfishpg_tsql/src/pl_gram.output