name: Dotnet Framework Tests
on: [push, pull_request]

jobs:
  run-babelfish-dotnet-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        id: checkout

      - name: Install Dependencies
        id: install-dependencies
        if: always()
        uses: ./.github/composite-actions/install-dependencies

      - name: Build Modified Postgres
        id: build-modified-postgres
        if: always() && steps.install-dependencies.outcome == 'success'
        uses: ./.github/composite-actions/build-modified-postgres
      
      - name: Compile ANTLR
        id: compile-antlr
        if: always() && steps.build-modified-postgres.outcome == 'success'
        uses: ./.github/composite-actions/compile-antlr
      
      - name: Build Extensions
        id: build-extensions
        if: always() && steps.compile-antlr.outcome == 'success'
        uses: ./.github/composite-actions/build-extensions
      
      - name: Install Extensions
        id: install-extensions
        if: always() && steps.build-extensions.outcome == 'success'
        uses: ./.github/composite-actions/install-extensions
      
      - name: Install MSSQL Tools
        id: install-mssql-tools
        if: always() && steps.install-mssql-tools.outcome == 'success'
        run: |
          curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/msprod.list
          sudo apt-get update
          sudo apt-get install mssql-tools unixodbc-dev
          echo 'export PATH="$PATH:/opt/mssql-tools/bin"' >> ~/.bashrc
          source ~/.bashrc
      
      - name: Install Dotnet
        id: install-dotnet
        if: always() && steps.install-extensions.outcome == 'success'
        run: | 
          cd ~
          wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
          sudo dpkg -i packages-microsoft-prod.deb
          rm packages-microsoft-prod.deb
          sudo apt-get install -y apt-transport-https
          sudo apt-get install -y dotnet-sdk-7.0
          sudo apt-get install -y apt-transport-https
          sudo apt-get install -y aspnetcore-runtime-7.0

      - name: Run Dotnet Tests
        if: always() && steps.install-dotnet.outcome == 'success'
        run: |
          cd test/dotnet
          dotnet build
          babel_URL=localhost \
            babel_port=1433 \
            babel_databaseName=master \
            babel_user=jdbc_user \
            babel_password=12345678 \
            testName="all---TestUDD.txt;TestChar.txt;TestSqlVariant.txt;TestVarChar.txt;TestAuthentication.txt;TestText.txt" \
            dotnet test
