name: Minor Version Upgrade Tests for empty database
on: [push, pull_request]

jobs:
  extension-tests:
    env:
      ENGINE_VER_FROM: BABEL_3_0_STABLE__PG_15_1
      EXTENSION_VER_FROM: BABEL_3_0_STABLE

    name: Build and test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        id: install-dependencies
        if: always()
        uses: ./.github/composite-actions/install-dependencies

      - name: Clone, build, and run tests for Postgres engine using ${{env.ENGINE_VER_FROM}}
        id: build-modified-postgres-older
        if: always() && steps.install-dependencies.outcome == 'success'
        uses: ./.github/composite-actions/build-modified-postgres
        with:
          engine_branch: ${{env.ENGINE_VER_FROM}}

      - name: Compile ANTLR
        id: compile-antlr
        if: always() && steps.build-modified-postgres-older.outcome == 'success'
        uses: ./.github/composite-actions/compile-antlr

      - uses: actions/checkout@v2
        with:
          repository: babelfish-for-postgresql/babelfish_extensions
          ref: ${{env.EXTENSION_VER_FROM}}

      - name: Set env variables and build extensions using ${{env.EXTENSION_VER_FROM}}
        id: build-extensions-older
        if: always() && steps.compile-antlr.outcome == 'success'
        uses: ./.github/composite-actions/build-extensions

      - name: Build tds_fdw Extension
        id: build-tds_fdw-extension
        if: always() && steps.build-extensions-older.outcome == 'success'
        run: |
          cd ..
          export TDS_FDW_VERSION="2.0.3"
          sudo apt-get install wget
          wget https://github.com/tds-fdw/tds_fdw/archive/v${TDS_FDW_VERSION}.tar.gz
          tar -xvzf v${TDS_FDW_VERSION}.tar.gz
          cd tds_fdw-${TDS_FDW_VERSION}/
          make USE_PGXS=1 PG_CONFIG=~/psql/bin/pg_config
          sudo make USE_PGXS=1 PG_CONFIG=~/psql/bin/pg_config install
        shell: bash

      - name: Install extensions
        id: install-extensions-older
        if: always() && steps.build-tds_fdw-extension.outcome == 'success'
        uses: ./.github/composite-actions/install-extensions
        
      - uses: actions/checkout@v2

      - name: Build and run tests for Postgres engine using latest engine
        id: build-modified-postgres-newer
        if: always() && steps.install-extensions-older.outcome == 'success'
        uses: ./.github/composite-actions/build-modified-postgres

      - name: Set env variables and build extensions
        id: build-extensions-newer
        uses: ./.github/composite-actions/build-extensions

      - name: Update extensions
        if: always() && steps.build-extensions-newer.outcome == 'success'
        run: |
          cd ~
          ~/psql/bin/pg_ctl -D ~/psql/data/ -l logfile restart
          sudo ~/psql/bin/psql -d jdbc_testdb -U runner -c "\dx"
          sudo ~/psql/bin/psql -d jdbc_testdb -U runner -c "ALTER EXTENSION "babelfishpg_common" UPDATE; ALTER EXTENSION "babelfishpg_tsql" UPDATE;"
          sudo ~/psql/bin/psql -d jdbc_testdb -U runner -c "\dx"
          sqlcmd -S localhost -U jdbc_user -P 12345678 -Q "SELECT @@version GO"

      - name: Run JDBC Tests
        id: jdbc
        timeout-minutes: 60
        run: |
          cd test/JDBC/
          mvn test

      - name: Upload Log
        if: always() && steps.jdbc.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: postgres-log
          path: ~/psql/data/logfile

      # The test summary files contain paths with ':' characters, which is not allowed with the upload-artifact actions
      - name: Rename Test Summary Files
        id: test-file-rename
        if: always() && steps.jdbc.outcome == 'failure'
        run: |
          cd test/JDBC/Info
          timestamp=`ls -Art | tail -n 1`
          cd $timestamp
          mv $timestamp.diff ../upgrade-output-diff.diff
          mv "$timestamp"_runSummary.log ../upgrade-run-summary.log

      - name: Upload Run Summary 
        if: always() && steps.test-file-rename == 'success'
        uses: actions/upload-artifact@v2
        with:
          name: upgrade-run-summary.log
          path: test/JDBC/Info/upgrade-run-summary.log

      - name: Upload Output Diff
        if: always() && steps.jdbc.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: upgrade-output-diff.diff
          path: test/JDBC/Info/upgrade-output-diff.diff
          
      sudo sed -i "s/#shared_preload_libraries = ''/shared_preload_libraries = 'pg_stat_statements'/g" postgresql.conf
